{% extends 'base.html' %}

{% block content %}
<style>
body {
    background : url("/static/images/home_page_img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 500px;
}
div div h1 {
    text-align : right;
    padding : 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 100px;
    color : white;
}
div div a {
    padding: 20px;
    font-size: 25px;
    color : white;
    margin-right: 100px;
}
div div {
    text-align : right;
}
</style>

<div class="container">
    <div class="container">
        <h1>Event Manager Web App</h1>
    </div>
    <div class="container">
        <a href="{% url 'event_registration' %}">Event Registration</a> <br>
        <a href="{% url 'participant_registration' %}">Participant Registration</a> <br>
        <a href="#">Event Dashboard</a>
    </div>
</div>

{% endblock %}